<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--数据导入接口域名-->
    <add key="domain" value="http://swstoreapptest.chinacloudsites.cn"/>
    <!--用户登录地址-->
    <add key="loginUrl" value="{0}/Api/Account"/>
    <!--客户批量导入地址-->
    <add key="customerUrl" value="{0}/Api/CustomerImport"/>
    <!--商品批量导入地址-->
    <add key="goodsUrl" value="{0}/Api/MaterialsImport"/>
    <!--物料上架批量导入地址-->
    <add key="materialUrl" value="{0}/Api/OnSaleImport"/>
  </appSettings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="60" />-->
    <!--<customErrors mode="Off"/>-->
    <customErrors mode="On" defaultRedirect="~/Error"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>